flows_ubuntu.json
[{"id":"15e0d973.3c19e7","type":"tab","label":"Status","disabled":false,"info":""},{"id":"f0e1e436.be87e8","type":"tab","label":"Positioning","disabled":false,"info":""},{"id":"216ce007.d1976","type":"tab","label":"Messaging","disabled":false,"info":""},{"id":"56eea785.2254d8","type":"tab","label":"Log","disabled":false,"info":""},{"id":"dd0d8502.e4ff58","type":"tab","label":"About","disabled":false,"info":"# s"},{"id":"ac6d7398.2581f","type":"mqtt-broker","name":"broker.hivemq.com","broker":"broker.hivemq.com","port":"1883","tls":"893e4948.660a38","clientid":"as1","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5e091561.92253c","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"1d2e4a2e.ee2c96","type":"ui_tab","name":"Status","icon":"mi-cached","order":1,"disabled":false,"hidden":false,"info":"# Staus page\n\nSend periodically status requesr to AML api. Response data are shown. If no response is receive in a certain time, conneciton status is shown as 'disconnected\""},{"id":"8757e717.b47a38","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#1c1817","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#1c1817","value":"#1c1817","edited":true},"page-titlebar-backgroundColor":{"value":"#ff5200","edited":true},"page-backgroundColor":{"value":"#333935","edited":true},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#ff5200","edited":true},"group-borderColor":{"value":"#333935","edited":true},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#ff5200","edited":true},"widget-borderColor":{"value":"#333333","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Gigaset AML Api demo","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5c78d716.b80c98","type":"ui_group","name":"Status","tab":"1d2e4a2e.ee2c96","order":1,"disp":true,"width":"6","collapse":false},{"id":"893e4948.660a38","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"1424e411.19554c","type":"ui_tab","name":"Locate","icon":"mi-location_on","order":2,"disabled":false,"hidden":false},{"id":"97ddda53.7ec3f8","type":"ui_group","name":"Locate","tab":"1424e411.19554c","order":1,"disp":true,"width":"6","collapse":false},{"id":"9bc1b37b.96e87","type":"ui_tab","name":"Messaging","icon":"mi-message","order":3,"disabled":false,"hidden":false},{"id":"a2d64e5.34218b","type":"ui_group","name":"Messaging","tab":"9bc1b37b.96e87","order":1,"disp":true,"width":"6","collapse":false},{"id":"606386ed.c889b8","type":"ui_tab","name":"About","icon":"mi-info","order":5,"disabled":false,"hidden":false},{"id":"d333d274.c365d","type":"ui_group","name":"About","tab":"606386ed.c889b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"160e81fb.f1c86e","type":"ui_group","name":"File Browser","tab":"","order":1,"disp":true,"width":"18","collapse":false},{"id":"3a471d76.07d252","type":"mqtt-broker","name":"as1","broker":"192.168.178.89","port":"8884","tls":"bc3ba32f.dad97","clientid":"as1","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"bc3ba32f.dad97","type":"tls-config","name":"test","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"f3b7b1c7.79fe","type":"mqtt-broker","name":"local_as1_broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ef85e3b9.8fa4b","type":"ui_group","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"f0bb39b.595eac8","type":"ui_tab","name":"Log","icon":"mi-theaters","order":4,"disabled":false,"hidden":false},{"id":"d9866e6c.6cc77","type":"ui_group","name":"Log","tab":"f0bb39b.595eac8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b8630066.5d446","type":"ui_group","name":"One dimension Array","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"1ebe6305.3aa6ad","type":"ui_group","name":"LAB","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"2d70286a.5787e8","type":"mqtt out","z":"15e0d973.3c19e7","name":"as1","topic":"as1/general/xxl/api/req/status","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f3b7b1c7.79fe","x":650,"y":180,"wires":[]},{"id":"1d1c1229.fc0bee","type":"mqtt in","z":"15e0d973.3c19e7","name":"","topic":"+/+/as1/+/res/status","qos":"0","datatype":"json","broker":"ac6d7398.2581f","nl":false,"rap":true,"rh":0,"x":190,"y":300,"wires":[["dfe6641a.6947e8","41c3620c.c02aec","c8e52bfa.678308","1d0e8b23.b6ce35","3da87b27.db9924","b5952ad2.0010f8"]]},{"id":"9cd1cde2.e4f51","type":"ui_button","z":"15e0d973.3c19e7","name":"","group":"5c78d716.b80c98","order":6,"width":0,"height":0,"passthru":true,"label":"Version","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"msgId\":\"4712\",\"params\":{}}","payloadType":"json","topic":"topic","topicType":"msg","x":440,"y":180,"wires":[["2d70286a.5787e8","16ba7fb9.cd5c6"]]},{"id":"a03763ab.c883f","type":"ui_text","z":"15e0d973.3c19e7","group":"5c78d716.b80c98","order":2,"width":0,"height":0,"name":"","label":"AML Version","format":"{{msg.payload}}","layout":"row-left","x":670,"y":340,"wires":[]},{"id":"d8fceee2.d6689","type":"mqtt in","z":"15e0d973.3c19e7","name":"","topic":"as1/general/xxl/api/req/status","qos":"2","datatype":"json","broker":"ac6d7398.2581f","nl":false,"rap":true,"rh":0,"x":220,"y":560,"wires":[["e5c94b8.67d90b8"]]},{"id":"718468f4.90d4c8","type":"mqtt out","z":"15e0d973.3c19e7","name":"","topic":"xxl/api/as1/general/res/status","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ac6d7398.2581f","x":720,"y":560,"wires":[]},{"id":"dfe6641a.6947e8","type":"function","z":"15e0d973.3c19e7","name":"","func":"var newMsg = { payload: msg.payload.payload.api.api_version };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":340,"wires":[["a03763ab.c883f"]]},{"id":"e5c94b8.67d90b8","type":"function","z":"15e0d973.3c19e7","name":"","func":"var newMsg = { payload: {\"msgId\":\"4712\",\"payload\":{\"api\":{\"api_version\":\"AML_V_0_15\"},\"integrator\":{\"firmware_version\":\"V2.41.0 (V2.41.0-32-g0f9faa4)\",\"mac\":\"7c2f80c6e35f\",\"product_name\":\"Gigaset N870 IP PRO\"}}} };\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":560,"wires":[["718468f4.90d4c8"]]},{"id":"a6f385ad.154af8","type":"ui_text","z":"15e0d973.3c19e7","group":"5c78d716.b80c98","order":3,"width":0,"height":0,"name":"","label":"Integrator FW","format":"{{msg.payload}}","layout":"row-left","x":680,"y":380,"wires":[]},{"id":"66358fa.13e607","type":"ui_text","z":"15e0d973.3c19e7","group":"5c78d716.b80c98","order":4,"width":0,"height":0,"name":"","label":"MAC address","format":"{{msg.payload}}","layout":"row-left","x":680,"y":420,"wires":[]},{"id":"4be02142.3512","type":"ui_text","z":"15e0d973.3c19e7","group":"5c78d716.b80c98","order":5,"width":0,"height":0,"name":"","label":"Product name","format":"{{msg.payload}}","layout":"row-left","x":680,"y":460,"wires":[]},{"id":"41c3620c.c02aec","type":"function","z":"15e0d973.3c19e7","name":"","func":"var newMsg = { payload: msg.payload.payload.integrator.firmware_version };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":380,"wires":[["a6f385ad.154af8"]]},{"id":"c8e52bfa.678308","type":"function","z":"15e0d973.3c19e7","name":"","func":"var newMsg = { payload: msg.payload.payload.integrator.mac }; \nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":420,"wires":[["66358fa.13e607"]]},{"id":"1d0e8b23.b6ce35","type":"function","z":"15e0d973.3c19e7","name":"","func":"var newMsg = { payload: msg.payload.payload.integrator.product_name };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":460,"wires":[["4be02142.3512"]]},{"id":"80dcc539.fe2a78","type":"comment","z":"15e0d973.3c19e7","name":"Generate fake mqqt response","info":"Generate fake mqqt response","x":220,"y":500,"wires":[]},{"id":"9a56a25d.22559","type":"mqtt out","z":"f0e1e436.be87e8","name":"as1","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f3b7b1c7.79fe","x":650,"y":180,"wires":[]},{"id":"5829c065.e53d2","type":"mqtt in","z":"f0e1e436.be87e8","name":"","topic":"+/+/as1/service2/res/position","qos":"0","datatype":"json","broker":"f3b7b1c7.79fe","nl":false,"rap":true,"rh":0,"x":160,"y":360,"wires":[["707b0f67.ff56a","f727c0e7.f025e","a6156e1e.dfd1b","6faca3.b9e6235c","d50fc492.0c95e8","59dc9a27.5748b4","c05919db.a94888","8ecf1e26.3fae3"]]},{"id":"ceb80c0.af434f8","type":"mqtt in","z":"f0e1e436.be87e8","name":"","topic":"as1/service2/sip_id/+/req/position","qos":"2","datatype":"json","broker":"ac6d7398.2581f","nl":false,"rap":true,"rh":0,"x":170,"y":920,"wires":[["7b5bef88.94172"]]},{"id":"cf2706d3.99bb58","type":"mqtt out","z":"f0e1e436.be87e8","name":"","topic":"dm1/4021/as1/service2/res/position","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ac6d7398.2581f","x":720,"y":920,"wires":[]},{"id":"707b0f67.ff56a","type":"function","z":"f0e1e436.be87e8","name":"","func":"var newMsg = { payload: msg.payload.payload.dm_handover };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":360,"wires":[["c5141b1.26709e8"]]},{"id":"7b5bef88.94172","type":"function","z":"f0e1e436.be87e8","name":"","func":"var newMsg = { payload: {\"msgId\":\"0\",\"payload\":{\"ble\":{},\"dm_handover\":\"no\",\"dm_id\":\"dm1\",\"dps\":{\"bases\":[{\"fpn\":\"ab\",\"rpn\":\"02\",\"rssi\":\"200\"},{\"fpn\":\"ab\",\"rpn\":\"03\",\"rssi\":\"80\"},{\"fpn\":\"ab\",\"rpn\":\"42\",\"rssi\":\"120\"},{\"fpn\":\"ab\",\"rpn\":\"43\",\"rssi\":\"160\"},{\"fpn\":\"ab\",\"rpn\":\"44\",\"rssi\":\"40\"},{\"fpn\":\"ab\",\"rpn\":\"45\",\"rssi\":\"110\"},{\"fpn\":\"ab\",\"rpn\":\"82\",\"rssi\":\"90\"},{\"fpn\":\"ab\",\"rpn\":\"83\",\"rssi\":\"20\"}],\"bs_fpn\":\"ab\",\"bs_mac\":\"7c2f80c1f40a\",\"bs_name\":\"LocalBS\",\"bs_rpn\":\"02\",\"timestamp\":\"1624284252\"},\"ipui\":\"0355ac19e0\",\"sip_id\":\"4021\"}}};;;\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":920,"wires":[["cf2706d3.99bb58"]]},{"id":"f727c0e7.f025e","type":"function","z":"f0e1e436.be87e8","name":"","func":"var newMsg = { payload: msg.payload.payload.dm_id };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":400,"wires":[["9a993cc1.9915c"]]},{"id":"a6156e1e.dfd1b","type":"function","z":"f0e1e436.be87e8","name":"","func":"var newMsg = { payload: msg.payload.payload.dps.bs_name };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":440,"wires":[["a43b84b0.54e498"]]},{"id":"6faca3.b9e6235c","type":"function","z":"f0e1e436.be87e8","name":"","func":"var newMsg = { payload: msg.payload.payload.dps.bs_rpn };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":480,"wires":[["ebe51f60.a550a"]]},{"id":"3f0fdd33.ab8982","type":"comment","z":"f0e1e436.be87e8","name":"Generate fake mqqt response","info":"Generate fake mqqt response","x":160,"y":860,"wires":[]},{"id":"bba6db1f.897888","type":"ui_text_input","z":"f0e1e436.be87e8","name":"","label":"SIP-ID:","tooltip":"","group":"97ddda53.7ec3f8","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"topic","topicType":"msg","x":100,"y":20,"wires":[["bbde0b06.a68378"]]},{"id":"2de75407.bf627c","type":"debug","z":"f0e1e436.be87e8","name":"input","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":20,"wires":[]},{"id":"bbde0b06.a68378","type":"change","z":"f0e1e436.be87e8","name":"store SIP location id","rules":[{"t":"set","p":"sip_locate","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":20,"wires":[["c045bc3c.34665"]]},{"id":"c045bc3c.34665","type":"function","z":"f0e1e436.be87e8","name":"test","func":"msg.payload = global.get(\"sip_locate\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":20,"wires":[["2de75407.bf627c"]]},{"id":"ac760bdd.80ca78","type":"ui_button","z":"f0e1e436.be87e8","name":"","group":"97ddda53.7ec3f8","order":2,"width":0,"height":0,"passthru":false,"label":"send","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"msgId\":\"0\",\"params\":{\"sip_id\":\"xxxx\",\"mode\":\"dps\"}}","payloadType":"json","topic":"topic","topicType":"msg","x":90,"y":180,"wires":[["e362ce71.f168d","683e5f17.c1017","119fbf60.74d7b1"]]},{"id":"e362ce71.f168d","type":"json","z":"f0e1e436.be87e8","name":"","property":"payload","action":"obj","pretty":false,"x":230,"y":180,"wires":[["d86bee.b885c41","6c1841df.95011"]]},{"id":"d86bee.b885c41","type":"function","z":"f0e1e436.be87e8","name":"MQTT request","func":"msg.payload.params.sip_id=global.get(\"sip_locate\");\nmsg.topic=\"as1/service2/sip_id/\"+global.get(\"sip_locate\")+\"/req/position\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":180,"wires":[["16810ba6.388d44","9a56a25d.22559"]]},{"id":"16810ba6.388d44","type":"debug","z":"f0e1e436.be87e8","name":"MQQT pos req","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":240,"wires":[]},{"id":"d50fc492.0c95e8","type":"debug","z":"f0e1e436.be87e8","name":"MQTT pos res","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":720,"wires":[]},{"id":"9a993cc1.9915c","type":"ui_text","z":"f0e1e436.be87e8","group":"97ddda53.7ec3f8","order":5,"width":0,"height":0,"name":"","label":"DM-ID:","format":"{{msg.payload}}","layout":"row-left","x":660,"y":400,"wires":[]},{"id":"c5141b1.26709e8","type":"ui_text","z":"f0e1e436.be87e8","group":"97ddda53.7ec3f8","order":4,"width":0,"height":0,"name":"","label":"DM-HANDOVER:","format":"{{msg.payload}}","layout":"row-left","x":690,"y":360,"wires":[]},{"id":"a43b84b0.54e498","type":"ui_text","z":"f0e1e436.be87e8","group":"97ddda53.7ec3f8","order":6,"width":0,"height":0,"name":"","label":"BS-NAME:","format":"{{msg.payload}}","layout":"row-left","x":670,"y":440,"wires":[]},{"id":"ebe51f60.a550a","type":"ui_text","z":"f0e1e436.be87e8","group":"97ddda53.7ec3f8","order":7,"width":0,"height":0,"name":"","label":"BS-RPN:","format":"{{msg.payload}}","layout":"row-left","x":660,"y":480,"wires":[]},{"id":"59dc9a27.5748b4","type":"function","z":"f0e1e436.be87e8","name":"","func":"var newMsg = { payload: msg.payload.payload.sip_id };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":520,"wires":[["15465f6d.357c71"]]},{"id":"15465f6d.357c71","type":"ui_text","z":"f0e1e436.be87e8","group":"97ddda53.7ec3f8","order":3,"width":0,"height":0,"name":"","label":"SIP-ID:","format":"{{msg.payload}}","layout":"row-left","x":660,"y":520,"wires":[]},{"id":"6c1841df.95011","type":"function","z":"f0e1e436.be87e8","name":"Clear input","func":"msg.payload=\"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":120,"wires":[["bba6db1f.897888"]]},{"id":"5fa1a43.d2ad55c","type":"ui_chart","z":"f0e1e436.be87e8","name":"","group":"97ddda53.7ec3f8","order":7,"width":0,"height":0,"label":"RSSI","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":650,"y":560,"wires":[[]]},{"id":"82c59d82.04dd2","type":"inject","z":"15e0d973.3c19e7","name":"Check connection","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":180,"wires":[["9cd1cde2.e4f51"]]},{"id":"16ba7fb9.cd5c6","type":"debug","z":"15e0d973.3c19e7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":120,"wires":[]},{"id":"3da87b27.db9924","type":"trigger","z":"15e0d973.3c19e7","name":"Watchdog","op1":"","op2":"disconnect","op1type":"nul","op2type":"str","duration":"1","extend":true,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":440,"y":240,"wires":[["f55677f.1746c88"]]},{"id":"f55677f.1746c88","type":"ui_text","z":"15e0d973.3c19e7","group":"5c78d716.b80c98","order":1,"width":0,"height":0,"name":"","label":"Connection State","format":"{{msg.payload}}","layout":"row-left","x":690,"y":240,"wires":[]},{"id":"b5952ad2.0010f8","type":"function","z":"15e0d973.3c19e7","name":"","func":"var newMsg = { payload: \"connect\" };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":300,"wires":[["f55677f.1746c88"]]},{"id":"c05919db.a94888","type":"function","z":"f0e1e436.be87e8","name":"","func":"var m = {};\n\nm.series = [\"Total Time in 8 hours by Machine\"];\n\nvar arrayLength = msg.payload.payload.dps.bases.length;\nfor (var i = 0; i < arrayLength; i++) \n{\n  if (i==0)\n  {\n     m.labels = [msg.payload.payload.dps.bases[i].rpn];\n     m.data = [[msg.payload.payload.dps.bases[i].rssi]];\n  }\n  else\n  {\n    m.labels.push(msg.payload.payload.dps.bases[i].rpn);\n    m.data[0].push(msg.payload.payload.dps.bases[i].rssi);\n  }\n}\nm.series = [\"rssi values over rpn\"];\nreturn {payload:[m],topic:msg.topic};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":560,"wires":[["5fa1a43.d2ad55c"]]},{"id":"359792d4.7ca5ae","type":"ui_form","z":"216ce007.d1976","name":"","label":"","group":"a2d64e5.34218b","order":1,"width":0,"height":0,"options":[{"label":"SIP-ID           ","value":"sipid","type":"text","required":true,"rows":null},{"label":"AS-MSG-ID      ","value":"asmsgid","type":"text","required":true,"rows":null}],"formValue":{"sipid":"","asmsgid":""},"payload":"","submit":"submit","cancel":"","topic":"topic","topicType":"msg","splitLayout":true,"x":70,"y":140,"wires":[["c4943312.82cbd","3b884c51.1a94f4","c2b836f6.4c7db8"]]},{"id":"66a6dfce.e3cb","type":"debug","z":"216ce007.d1976","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":200,"wires":[]},{"id":"c4943312.82cbd","type":"function","z":"216ce007.d1976","name":"add message file","func":"var newMsg = { payload: msg.payload };\nnewMsg.file = \"don_t_care\"\nnewMsg.filename = global.get(\"message\");\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":140,"wires":[["52b5aaee.037264"]]},{"id":"a749ed8f.09ea2","type":"ui_dropdown","z":"216ce007.d1976","name":"","label":"INPUT-MSG","tooltip":"Select input message from file","place":"Select option","group":"a2d64e5.34218b","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"HelloWorld","value":"~/Documents/aml/messages/hello_world","type":"str"},{"label":"Prio8","value":"~/Documents/aml/messages/prio_8","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":230,"y":320,"wires":[["2899d99d.ab4766"]]},{"id":"31ccd5f6.0a085a","type":"debug","z":"216ce007.d1976","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":320,"wires":[]},{"id":"2899d99d.ab4766","type":"change","z":"216ce007.d1976","name":"store message","rules":[{"t":"set","p":"message","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":320,"wires":[["31ccd5f6.0a085a"]]},{"id":"f0072060.17db6","type":"inject","z":"216ce007.d1976","name":"","props":[{"p":"payload"},{"p":"options","v":"[ {\"HelloWorld\":\"/home/gigaset/Documents/aml/messages/hello_world.json\"}, {\"HelloWorldPrio8\":\"/home/gigaset/Documents/aml/messages/hello_world_prio_8.json\"}, {\"HelloWorldPrio1\":\"/home/gigaset/Documents/aml/messages/hello_world_prio_1.json\"}, {\"MelHigh\":\"/home/gigaset/Documents/aml/messages/mel_high.json\"}, {\"MelMid\":\"/home/gigaset/Documents/aml/messages/mel_mid.json\"}, {\"MelLow\":\"/home/gigaset/Documents/aml/messages/mel_low.json\"}, {\"MelSilent\":\"/home/gigaset/Documents/aml/messages/mel_silent.json\"}, {\"ReplyNo\":\"/home/gigaset/Documents/aml/messages/reply_no.json\"}, {\"ReplyOne\":\"/home/gigaset/Documents/aml/messages/reply_one.json\"}, {\"ReplyTwo\":\"/home/gigaset/Documents/aml/messages/reply_two.json\"}, {\"ReplyThree\":\"/home/gigaset/Documents/aml/messages/reply_three.json\"} ]","vt":"json"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"/home/gigaset/Documents/aml/messages/hello_world.json","payloadType":"str","x":70,"y":320,"wires":[["a749ed8f.09ea2","c2b836f6.4c7db8"]]},{"id":"52b5aaee.037264","type":"file in","z":"216ce007.d1976","name":"load message file","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":470,"y":140,"wires":[["b85fe3fc.d497a"]]},{"id":"b85fe3fc.d497a","type":"json","z":"216ce007.d1976","name":"convert to json","property":"payload","action":"","pretty":false,"x":680,"y":140,"wires":[["a2b4ec98.025c8"]]},{"id":"a2b4ec98.025c8","type":"function","z":"216ce007.d1976","name":"insert sipid and msgid","func":"msg.payload.payload.sip_id=global.get(\"sipid\");\nmsg.payload.payload.amsgId=global.get(\"asmsgid\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":140,"wires":[["8b9d3e27.15c0c","66a6dfce.e3cb"]]},{"id":"3b884c51.1a94f4","type":"change","z":"216ce007.d1976","name":"store sip id and amsgid","rules":[{"t":"set","p":"sipid","pt":"global","to":"payload.sipid","tot":"msg"},{"t":"set","p":"asmsgid","pt":"global","to":"payload.asmsgid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":200,"wires":[[]]},{"id":"7bd51956.60d708","type":"mqtt in","z":"216ce007.d1976","name":"","topic":"as1/messaging/xxl/msgsrv/req/setMsg","qos":"2","datatype":"json","broker":"ac6d7398.2581f","nl":false,"rap":true,"rh":0,"x":170,"y":1080,"wires":[["8e00991c.b7d678"]]},{"id":"7bf76bd0.79f3c4","type":"mqtt out","z":"216ce007.d1976","name":"","topic":"xxl/msgsrv/as1/messaging/res/setMsg","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ac6d7398.2581f","x":810,"y":1080,"wires":[]},{"id":"8e00991c.b7d678","type":"function","z":"216ce007.d1976","name":"build setMsg response","func":"var newMsg = { payload: {\"msgId\":\"0\",\"payload\":{\"amsgId\":\"4021_1\",\"msg\":{\"terminal_msg_status\":\"queued\"},\"sip_id\":\"4021\"}}};;;\nnewMsg.payload.payload.amsgId=msg.payload.payload.amsgId;\nnewMsg.payload.payload.sip_id=msg.payload.payload.sip_id;\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1080,"wires":[["7bf76bd0.79f3c4","2113d5d0.171f7a"]]},{"id":"15e807c1.293788","type":"comment","z":"216ce007.d1976","name":"Generate fake mqqt response","info":"Generate fake mqqt response","x":140,"y":1020,"wires":[]},{"id":"8b9d3e27.15c0c","type":"mqtt out","z":"216ce007.d1976","name":"as1","topic":"as1/messaging/xxl/msgsrv/req/setMsg","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f3b7b1c7.79fe","x":1110,"y":140,"wires":[]},{"id":"8d2cc013.26d5c","type":"mqtt in","z":"216ce007.d1976","name":"","topic":"xxl/msgsrv/as1/messaging/res/setMsg","qos":"0","datatype":"json","broker":"f3b7b1c7.79fe","nl":false,"rap":true,"rh":0,"x":170,"y":440,"wires":[["a2555939.6814f8","3dcaf6e1.9eeb8a","ead31c32.2ca58","4f7eaea1.9503b"]]},{"id":"a9b97e70.bb7cf","type":"mqtt in","z":"216ce007.d1976","name":"","topic":"xxl/msgsrv/as1/messaging/noti/rpc/msgStatus","qos":"0","datatype":"json","broker":"f3b7b1c7.79fe","nl":false,"rap":true,"rh":0,"x":190,"y":500,"wires":[["a2555939.6814f8","3dcaf6e1.9eeb8a","ead31c32.2ca58","7f827393.5d78bc"]]},{"id":"a2555939.6814f8","type":"function","z":"216ce007.d1976","name":"terminal_msg_status","func":"var newMsg = { payload: msg.payload.payload.msg.terminal_msg_status };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":440,"wires":[["32ef30b8.c644c"]]},{"id":"32ef30b8.c644c","type":"ui_text","z":"216ce007.d1976","group":"a2d64e5.34218b","order":5,"width":0,"height":0,"name":"","label":"STATUS:","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":440,"wires":[]},{"id":"3dcaf6e1.9eeb8a","type":"function","z":"216ce007.d1976","name":"sip_id","func":"if (msg.payload.payload.hasOwnProperty(\"sip_id\"))\n{\n  var newMsg = { payload: msg.payload.payload.sip_id };\n  return newMsg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":500,"wires":[["1a0b7545.ccc36b"]]},{"id":"ead31c32.2ca58","type":"function","z":"216ce007.d1976","name":"amsgId","func":"var newMsg = { payload: msg.payload.payload.amsgId};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":560,"wires":[["8ee6bf61.373f"]]},{"id":"1a0b7545.ccc36b","type":"ui_text","z":"216ce007.d1976","group":"a2d64e5.34218b","order":3,"width":0,"height":0,"name":"","label":"SIP-ID:","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":500,"wires":[]},{"id":"8ee6bf61.373f","type":"ui_text","z":"216ce007.d1976","group":"a2d64e5.34218b","order":4,"width":0,"height":0,"name":"","label":"AS-MSG-ID:","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":560,"wires":[]},{"id":"2113d5d0.171f7a","type":"debug","z":"216ce007.d1976","name":"receive MQTT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":1140,"wires":[]},{"id":"7f827393.5d78bc","type":"function","z":"216ce007.d1976","name":"chosen_option","func":"var newMsg = { payload: msg.payload.payload.msg.chosen_option_id};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":620,"wires":[["f10d12bb.5ffaa"]]},{"id":"f10d12bb.5ffaa","type":"ui_text","z":"216ce007.d1976","group":"a2d64e5.34218b","order":6,"width":0,"height":0,"name":"","label":"CHOSEN-OPTION:","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":620,"wires":[]},{"id":"c2b836f6.4c7db8","type":"function","z":"216ce007.d1976","name":"clear","func":"var newMsg = { payload: \"--\" };\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":700,"wires":[["32ef30b8.c644c","1a0b7545.ccc36b","8ee6bf61.373f","f10d12bb.5ffaa"]]},{"id":"bd3968c6.ecfe48","type":"ui_template","z":"dd0d8502.e4ff58","group":"d333d274.c365d","name":"","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":380,"y":100,"wires":[[]]},{"id":"85f358fa.812408","type":"inject","z":"dd0d8502.e4ff58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"WEB based app demonstrating the use of Gigaset DECT-IP MQTT based API for Alarming, Messaging, Location application servers.","payloadType":"str","x":150,"y":100,"wires":[["bd3968c6.ecfe48"]]},{"id":"7848c370.5ff36c","type":"mqtt in","z":"56eea785.2254d8","name":"","topic":"+/+/as1/#","qos":"0","datatype":"json","broker":"f3b7b1c7.79fe","nl":false,"rap":true,"rh":0,"x":160,"y":220,"wires":[["de574bcb.6145b8"]]},{"id":"a649e8e9.c1d808","type":"debug","z":"56eea785.2254d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":120,"wires":[]},{"id":"de574bcb.6145b8","type":"json","z":"56eea785.2254d8","name":"","property":"payload","action":"","pretty":false,"x":310,"y":220,"wires":[["a649e8e9.c1d808","8a803c6f.9c3b4"]]},{"id":"8a803c6f.9c3b4","type":"function","z":"56eea785.2254d8","name":"","func":"global.set(\"logmessage\",global.get(\"logmessage\")+\"\\n\"+msg.payload);\nvar newMsg = { payload: global.get(\"logmessage\")};\nreturn newMsg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":220,"wires":[["5e8c62aa.17fb5c","76c243bc.f9b33c"]]},{"id":"5e8c62aa.17fb5c","type":"debug","z":"56eea785.2254d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":120,"wires":[]},{"id":"af1c1732.d8f368","type":"inject","z":"56eea785.2254d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":340,"wires":[["370cbe65.0f3b52"]]},{"id":"76c243bc.f9b33c","type":"ui_template","z":"56eea785.2254d8","group":"d9866e6c.6cc77","name":"","order":3,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":750,"y":220,"wires":[[]]},{"id":"1a1f017c.be7a7f","type":"ui_button","z":"56eea785.2254d8","name":"","group":"d9866e6c.6cc77","order":1,"width":0,"height":0,"passthru":false,"label":"clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":400,"wires":[["370cbe65.0f3b52"]]},{"id":"370cbe65.0f3b52","type":"function","z":"56eea785.2254d8","name":"","func":"var newMsg = { payload: \"start\\n\" };\nglobal.set(\"logmessage\",\"start\")\nreturn newMsg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":340,"wires":[["9d6690cc.8d39b","76c243bc.f9b33c"]]},{"id":"9d6690cc.8d39b","type":"debug","z":"56eea785.2254d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":340,"wires":[]},{"id":"7e6c7ae4.21d6f4","type":"ui_button","z":"56eea785.2254d8","name":"","group":"d9866e6c.6cc77","order":2,"width":0,"height":0,"passthru":false,"label":"~/tmp/aml_api_log.txt","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":520,"wires":[["ee21b56f.051a58","fdb8e451.b2f4a8"]]},{"id":"a0f51b7b.e31928","type":"file","z":"56eea785.2254d8","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":870,"y":520,"wires":[[]]},{"id":"ee21b56f.051a58","type":"function","z":"56eea785.2254d8","name":"","func":"var newMsg = { payload: global.get(\"logmessage\") };\nnewMsg.filename = \"~/tmp/aml_api_log.txt\";\nreturn newMsg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":520,"wires":[["a0f51b7b.e31928","56d48922.344858"]]},{"id":"56d48922.344858","type":"debug","z":"56eea785.2254d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":580,"wires":[]},{"id":"fdb8e451.b2f4a8","type":"debug","z":"56eea785.2254d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":580,"wires":[]},{"id":"3126bcbb.db4d94","type":"inject","z":"56eea785.2254d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":300,"wires":[["370cbe65.0f3b52"]]},{"id":"8ecf1e26.3fae3","type":"function","z":"f0e1e436.be87e8","name":"reject response","func":"var newMsg = { payload: \"REJ_REASON: \"+msg.payload.payload.dps.rej_reason};\nif (msg.payload.payload.dps.hasOwnProperty(\"rej_reason\"))\n{\n    newMsg.paload=newMsg.payload;\n    return newMsg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":640,"wires":[["40215d55.ddab64"]]},{"id":"4f7eaea1.9503b","type":"function","z":"216ce007.d1976","name":"terminal_msg_status","func":"var newMsg = { payload: \"REJ_REASON: \" +msg.payload.payload.msg.rej_reason};\nif (msg.payload.payload.msg.hasOwnProperty(\"rej_reason\"))\n{\n    newMsg.paload=newMsg.payload;\n    return newMsg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":760,"wires":[["620f2166.1d8ce","6a52981e.bebf38"]]},{"id":"620f2166.1d8ce","type":"debug","z":"216ce007.d1976","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":820,"wires":[]},{"id":"6a52981e.bebf38","type":"ui_toast","z":"216ce007.d1976","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"error response","x":740,"y":760,"wires":[[]]},{"id":"40215d55.ddab64","type":"ui_toast","z":"f0e1e436.be87e8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"error response","x":680,"y":640,"wires":[[]]},{"id":"683e5f17.c1017","type":"function","z":"f0e1e436.be87e8","name":"","func":"var newMsg = { payload: \"\" };\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":240,"wires":[["c5141b1.26709e8","9a993cc1.9915c","a43b84b0.54e498","ebe51f60.a550a","15465f6d.357c71"]]},{"id":"119fbf60.74d7b1","type":"function","z":"f0e1e436.be87e8","name":"","func":"var m = {};\n\nm.labels = [\"02\"];\nm.data = [[\"0\"]];\nm.series = [\"rssi values over rpn\"];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":300,"wires":[["5fa1a43.d2ad55c"]]}]